/* Write your CSS here */
.avatar-image {
  height: 150px;
  width: 150px;
}
.box {
  display: flex;
  flex-direction: row;
  align-items: center;

  
  height: 30px;
}
.img {
  height: 20px;
  width: 20px;
}
.repos-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  background-color: #f8f8ff;
  border-radius: 10px;
  padding: 20px;

}